<!-- Footer -->
			<div id="pied"> 
                            The whole website <a href="https://buybackcovidvaccinecom">buybackcovidvaccine.com</a> is under CC-BY-NC-SA license : you may copy, distribute, re-use it in any way you like, unless:
			    <ul><li>you give the original source and authors</li>
                            <li>you publish it under a similar license</li>
                            <li>you don't use it for commercial purpose</li></ul>                      		
			</div>
		</div>
	</body>

</html>
