body {
	background-color : #191970;
	font-family: Helvetica, Arial, sans-serif;
}


a {
	text-decoration: none;
	color: red;
}

h1, h2, h3 {
	margin: 0;
        text-align: center;
}

#container {
	background-color: #ADD8E6; 
	width: 100%;
	max-width: 21cm;
	margin-left: auto;
	margin-right: auto;
        padding-top: 10px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-left: 40px;
	float: center;
        text-align: justify;
}

#text {
	/* Pour l'intro, prévoir du responsive qui passe l'intro à width:100% */
        width:60%;
        float: center;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
}

#pied {
	clear: both;
	background-color: #999;
	color: white;
	padding: 10px;
	text-align: justify;
}
